.container{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 93vh;
    width: 100%;
    background-color: #3a3557;
}

.pikachu{
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .pikachu{
        width: 80%;
        height: 80%;
    }
}